#bio {
  height: 100%;
  /* Fallback */
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
  /* Latest specification */
}

.arrow {
  animation: swing-down 4s ease-in-out infinite;
}

.fizzy_button {
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 4%);
  transition: all .3s, box-shadow .2s, transform .2s .2s;
  position: relative;

  .icon {
    position: relative;
    transition: top .3s .1s, opacity .3s .1s;
  }

  span.text {
    display: inline-block;
    position: relative;
    transition: left .4s .1s;
    margin-left: 4px;
  }

  .spot {
    position: absolute;
    border-radius: 100px;
    background: green;
    opacity: 0;
    animation: opacity 1s;

    @for $i from 1 through 52 {
      &:nth-of-type(#{$i}) {
        transform-origin: 90px - random(10) 20px - random(10);
        background: hsla(350 + random(399), 57% - random(10), 65%, 1);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.12);
        transition: all 1s + random(10)/10;
      }
    }
  }

  .spots_container .spot {
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        padding: random(3) + 2 + px;
        left: -20 + ($i * 12) + px;
        top: 44 + px;
      }
    }

    @for $i from 20 through 32 {
      &:nth-child(#{$i}) {
        padding: random(3) + 2 + px;
        left: -255 + ($i * 12) + px;
        top: -12 + px;
      }
    }

    @for $i from 40 through 46 {
      &:nth-child(#{$i}) {
        padding: random(3) + 2 + px;
        left: 130px;
        top: -488 + ($i * 12) + px;
      }
    }

    @for $i from 46 through 52 {
      &:nth-child(#{$i}) {
        padding: random(3) + 2 + px;
        left: -10px;
        top: -568 + ($i * 12) + px;
      }
    }
  }

  &:hover {
    color: white;
    background: rgb(71 85 105 / var(--tw-border-opacity));

    .spot {
      @for $i from 1 through 19 {
        &:nth-of-type(#{$i}) {
          animation: spot-#{$i} .7s .4/random(10)+random(10)/10+s linear infinite;
        }
      }

      @for $i from 20 through 40 {
        &:nth-of-type(#{$i}) {
          animation: spot-#{$i} .7s .4/random(10)+random(10)/10+s linear infinite;
        }
      }

      @for $i from 40 through 46 {
        &:nth-of-type(#{$i}) {
          animation: spot-#{$i} .7s .4/random(10)+random(10)/10+s linear infinite;
        }
      }

      @for $i from 46 through 54 {
        &:nth-of-type(#{$i}) {
          animation: spot-#{$i} .7s .4/random(10)+random(10)/10+s linear infinite;
        }
      }
    }
  }
}

/* fizzy button animation */
@for $i from 1 through 20 {
  @keyframes spot-#{$i} {
    from {
      opacity: 0;
    }

    to {
      transform: translateY(30px) translateX(-20px + $i*2);
      opacity: .6;
    }
  }
}

@for $i from 20 through 40 {
  @keyframes spot-#{$i} {
    from {
      opacity: 0;
    }

    to {
      transform: translateY(-30px) translateX(-50px + $i*2);
      opacity: .6;
    }
  }
}

@for $i from 40 through 45 {
  @keyframes spot-#{$i} {
    from {
      opacity: 0;
    }

    to {
      transform: translateY(-86px + $i*2) translateX(40px);
      opacity: .6;
    }
  }
}

@for $i from 46 through 54 {
  @keyframes spot-#{$i} {
    from {
      opacity: 0;
    }

    to {
      transform: translateY(-99px + $i*2) translateX(-40px);
      opacity: .6;
    }
  }
}

/* arrow animation */
@keyframes swing-down {
  from {
    transform: translateY(-0.4rem);
  }

  30% {
    transform: translateY(0rem);
  }

  60% {
    transform: translateY(-0.4rem);
  }

  to {
    transform: translateY(-0.4rem);
  }
}